.u-section-1 .u-sheet-1 {
  min-height: 504px;
}

.u-section-1 .u-text-1 {
  font-family: Poppins;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 3rem;
  margin: 30px 0 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -111px auto 0 326px;
}

.u-section-1 .u-text-2 {
  margin: 86px 0 0;
}

.u-section-1 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 30px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 104px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -104px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 97px;
  }

  .u-section-1 .u-line-1 {
    margin-bottom: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -163px;
    margin-right: 149px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 156px;
  }

  .u-section-1 .u-line-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -97px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 42px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 42px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 349px;
}

.u-section-2 .u-text-1 {
  font-family: Poppins;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 30px 152px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 345px;
}

.u-section-3 .u-text-1 {
  font-family: Poppins;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 30px 152px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 30px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 355px;
}

.u-section-4 .u-text-1 {
  font-family: Poppins;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 30px 152px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 38px 0 0;
}

.u-section-4 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 22px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 380px;
}

.u-section-5 .u-text-1 {
  font-family: Poppins;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 30px 152px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 38px 0 0;
}

.u-section-5 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 22px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 319px;
}

.u-section-6 .u-text-1 {
  font-family: Poppins;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 30px 152px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 30px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-btn-5 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 0;
  }
}