.u-section-1 .u-sheet-1 {
  min-height: 284px;
}

.u-section-1 .u-text-1 {
  font-family: Poppins;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-style: italic;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 60px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-3 {
    margin-bottom: 28px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 817px;
}

.u-section-2 .u-line-1 {
  transform-origin: left center 0px;
  width: 1140px;
  margin: 0 auto 0 -14px;
}

.u-section-2 .u-text-1 {
  font-family: Poppins;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 30px 0 0;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -51px auto 0 352px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px 1044px 0 0;
}

.u-section-2 .u-list-1 {
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 9.75px) calc(25% - 9.75px) calc(25% - 9.75px) calc(25% - 9.75px);
  min-height: 203px;
  grid-gap: 13px 13px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 9px 0;
}

.u-section-2 .u-text-3 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: normal;
  margin: 12px 4px 0 24px;
}

.u-section-2 .u-text-4 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 21px 0 24px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: -7px 20px -31px 24px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 9px 0;
}

.u-section-2 .u-text-6 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: normal;
  margin: 12px 4px 0 24px;
}

.u-section-2 .u-text-7 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 21px 0 24px;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: -7px 20px 0 24px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 9px 0;
}

.u-section-2 .u-text-9 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: normal;
  margin: 12px 4px 0 24px;
}

.u-section-2 .u-text-10 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 21px 0 24px;
}

.u-section-2 .u-text-11 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: -7px 20px 0 24px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 9px 0;
}

.u-section-2 .u-text-12 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: normal;
  margin: 12px 4px 0 24px;
}

.u-section-2 .u-text-13 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 21px 0 24px;
}

.u-section-2 .u-text-14 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: -7px 20px 0 24px;
}

.u-section-2 .u-text-15 {
  font-size: 1.125rem;
  margin: 96px 1028px 0 0;
}

.u-section-2 .u-list-2 {
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: calc(50% - 6.5px) calc(50% - 6.5px);
  min-height: 203px;
  grid-gap: 13px 13px;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 9px 0;
}

.u-section-2 .u-text-16 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: normal;
  margin: 12px 4px 0 24px;
}

.u-section-2 .u-text-17 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 21px 0 24px;
}

.u-section-2 .u-text-18 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: -7px 22px -31px;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 9px 0;
}

.u-section-2 .u-text-19 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: normal;
  margin: 12px 4px 0 24px;
}

.u-section-2 .u-text-20 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 21px 0 24px;
}

.u-section-2 .u-text-21 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: -7px 22px -83px;
}

.u-section-2 .u-line-2 {
  transform-origin: left center 0px;
  margin-top: 115px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-line-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 344px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 31px;
    margin-right: 844px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-15 {
    margin-right: 828px;
  }

  .u-section-2 .u-list-2 {
    height: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-16 {
    width: auto;
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-2 .u-text-17 {
    width: auto;
    margin-right: 31px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-18 {
    width: auto;
    margin: -8px 90px 0 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-19 {
    width: auto;
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-2 .u-text-20 {
    width: auto;
    margin-right: 31px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-21 {
    width: auto;
    margin: -8px 90px 0 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1054px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -57px;
    margin-right: 311px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 37px;
    margin-right: 624px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 6.5px) calc(50% - 6.5px);
  }

  .u-section-2 .u-text-15 {
    margin-right: 608px;
  }

  .u-section-2 .u-list-2 {
    margin-top: 13px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
    min-height: 387px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-16 {
    margin-left: 0;
  }

  .u-section-2 .u-text-17 {
    margin-top: 35px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -83px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-19 {
    margin-left: 0;
  }

  .u-section-2 .u-text-20 {
    margin-top: 35px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-line-2 {
    width: 720px;
    margin-top: 58px;
    margin-right: auto;
    margin-left: -13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1348px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 129px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 444px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 725px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 23px 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: 18px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 8px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -8px;
    margin-bottom: 0;
    margin-left: 18px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 23px 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-left: 18px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 8px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: -8px;
    margin-right: -12px;
    margin-left: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 23px 0;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 0;
    margin-left: 18px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 8px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: -8px;
    margin-right: -12px;
    margin-left: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 23px 0;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: 0;
    margin-left: 18px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 8px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-top: -8px;
    margin-right: -12px;
    margin-left: 30px;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-top: 19px;
    margin-right: 428px;
  }

  .u-section-2 .u-list-2 {
    margin-top: 8px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-2 .u-text-16 {
    margin-top: 36px;
    margin-right: 76px;
    margin-left: 30px;
  }

  .u-section-2 .u-text-17 {
    margin-top: 11px;
    margin-right: -12px;
    margin-left: 30px;
  }

  .u-section-2 .u-text-18 {
    margin: 1px 43px 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-2 .u-text-19 {
    margin-top: 36px;
    margin-right: 76px;
    margin-left: 30px;
  }

  .u-section-2 .u-text-20 {
    margin-top: 11px;
    margin-right: -12px;
    margin-left: 30px;
  }

  .u-section-2 .u-text-21 {
    margin-top: 1px;
    margin-left: 43px;
    margin-right: 43px;
  }

  .u-section-2 .u-line-2 {
    width: 540px;
    margin-top: 19px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-icon-1 {
    width: 50px;
    height: 50px;
    margin-right: 45px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 244px;
  }

  .u-section-2 .u-text-3 {
    margin-right: -19px;
    margin-left: 19px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 10px;
    margin-right: -19px;
    margin-left: 19px;
  }

  .u-section-2 .u-text-5 {
    margin-right: -31px;
    margin-left: 31px;
  }

  .u-section-2 .u-text-6 {
    margin-right: -19px;
    margin-left: 19px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 10px;
    margin-right: -19px;
    margin-left: 19px;
  }

  .u-section-2 .u-text-8 {
    margin-right: -31px;
    margin-left: 31px;
  }

  .u-section-2 .u-text-9 {
    margin-right: -19px;
    margin-left: 19px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 10px;
    margin-right: -19px;
    margin-left: 19px;
  }

  .u-section-2 .u-text-11 {
    margin-right: -31px;
    margin-left: 31px;
  }

  .u-section-2 .u-text-12 {
    margin-right: -19px;
    margin-left: 19px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 10px;
    margin-right: -19px;
    margin-left: 19px;
  }

  .u-section-2 .u-text-14 {
    margin-right: -31px;
    margin-left: 31px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 228px;
  }

  .u-section-2 .u-text-16 {
    margin-top: 37px;
    margin-right: -19px;
    margin-left: 19px;
  }

  .u-section-2 .u-text-17 {
    margin-right: -19px;
    margin-left: 19px;
  }

  .u-section-2 .u-text-18 {
    margin-top: 0;
    margin-right: -37px;
    margin-left: 37px;
  }

  .u-section-2 .u-text-19 {
    margin-top: 37px;
    margin-right: -19px;
    margin-left: 19px;
  }

  .u-section-2 .u-text-20 {
    margin-right: -19px;
    margin-left: 19px;
  }

  .u-section-2 .u-text-21 {
    margin-top: 0;
    margin-right: -37px;
    margin-left: 37px;
  }

  .u-section-2 .u-line-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 100px;
}

.u-section-3 .u-text-1 {
  font-family: Poppins;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 30px 0 0;
}

.u-section-3 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 30px;
  margin-bottom: 0;
}.u-section-4 .u-sheet-1 {
  min-height: 100px;
}

.u-section-4 .u-text-1 {
  font-family: Poppins;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 30px 0 0;
}

.u-section-4 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 30px;
  margin-bottom: 0;
}.u-section-5 .u-sheet-1 {
  min-height: 100px;
}

.u-section-5 .u-text-1 {
  font-family: Poppins;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 30px 0 0;
}

.u-section-5 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 30px;
  margin-bottom: 0;
}.u-section-6 .u-sheet-1 {
  min-height: 100px;
}

.u-section-6 .u-text-1 {
  font-family: Poppins;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 30px 0 0;
}

.u-section-6 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 30px;
  margin-bottom: 0;
}.u-section-7 .u-sheet-1 {
  min-height: 100px;
}

.u-section-7 .u-text-1 {
  font-family: Poppins;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 30px 0 0;
}

.u-section-7 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 30px;
  margin-bottom: 0;
}.u-section-8 .u-sheet-1 {
  min-height: 100px;
}

.u-section-8 .u-text-1 {
  font-family: Poppins;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 30px 0 0;
}

.u-section-8 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 30px;
  margin-bottom: 0;
}.u-section-9 .u-sheet-1 {
  min-height: 100px;
}

.u-section-9 .u-text-1 {
  font-family: Poppins;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 30px 0 0;
}

.u-section-9 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 30px;
  margin-bottom: 0;
}.u-section-10 .u-sheet-1 {
  min-height: 100px;
}

.u-section-10 .u-text-1 {
  font-family: Poppins;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 30px 0 0;
}

.u-section-10 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 30px;
  margin-bottom: 0;
}.u-section-11 .u-sheet-1 {
  min-height: 100px;
}

.u-section-11 .u-text-1 {
  font-family: Poppins;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 30px 0 0;
}

.u-section-11 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 30px;
  margin-bottom: 0;
}.u-section-12 .u-sheet-1 {
  min-height: 99px;
}

.u-section-12 .u-text-1 {
  font-family: Poppins;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 30px 0;
}.u-section-13 .u-sheet-1 {
  min-height: 136px;
}

.u-section-13 .u-text-1 {
  margin: 20px 0;
}

.u-section-13 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-13 .u-btn-2 {
  background-image: none;
  padding: 0;
}